* {
  margin: 0;
}

.App {
  background-color: #fafafa;
}
.app__headerImage {
  width: 150px;
}

.app__header {
  background-color: white;
  object-fit: contain;
 padding: 0 5px 0 5px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;

}

.modal__header {
  text-align: center;
}

.modal__header img {
  margin-bottom: 50px;
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

.app__posts{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.app__postsRight{
  margin-left: 20px;
}



@media (max-width:567px){
  .app__posts{
    display: flex;
    flex-direction: column;
  }

  .app__postsRight{
    margin: 0 auto;
  }
}


.text{
  text-align: center;
}
